

  h1, p{
    font-family:Arial, Helvetica, sans-serif
  }

  body{
    color: #837e9f;
    background-color: #22212c;
  }

  #imagem-perfil{
      border-radius: 50%;
  }

  .listaHabilidades{
      font-size: 25px;
  }